@import './global.scss';

//google fonts
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins&display=swap');

.App {
  @include dFlex(column, flex-start, center);
  min-height: 100vh;
  width: 100%;
  padding: 0 0 5% 0;
  background-image: url('../assets/images/nasa_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .contentCont {
    @include dFlex(row, space-evenly, flex-start);

    @media only screen and (max-width: 700px){
      @include dFlex(column-reverse, flex-start, center);
    }
  }
}//end App