// THEME COLORS ******
$blue: #A6C8E3;
$orange: #B16B46;
$transBlack: rgba(0, 0, 0, 0.8);
$gray: lightgray;
$darkGray: #666;
$black: #333;


// ********************* FONTS ********************* //

// FONT COLORS *****
$pColor: $gray;
$aColor: $blue;

$h1Color: $orange;
$h2Color: $blue;
$h3Color: $darkGray;
$h4Color: $gray;
$h5Color: $gray;

$labelColor: $black;
$inputColor: $darkGray;


//  FONT SIZES *****
$pSize: 1.7rem;
$aSize: 1.4rem;

$h1Size: 4rem;
$h2Size: 2.5rem;
$h3Size: 1.8rem;
$h4Size: 1.4rem;
$h5Size: 1.4rem;


//MEDIA QUERIES

$tablet700: "max-width:700px";
$mobile550: "max-width:550px";