.infoCont{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    max-width: 100%;
    width: 50%;
}

@media only screen and (max-width: 600px){
    .infoCont{
        width: 100%;
    }
}

.infoCont p{
    font-size: 1.3rem;
}