
.themed-container{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  max-width: 100%;
  width: 60%;


}

.themed-container p{
  font-size: 1.3rem;
  color: #ccc;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.themed-container h2{
  color: #333;
  padding: 1%;
  margin-top: -1%;
  background-color: rgba(200, 200, 255, 0.6);
  border-radius: 5px;
}

@media only screen and (max-width: 600px){
  .themed-container{
    width: 100%;
  }
}

