@import '../sass/vars.scss';

.dateCont {
  width: 200px;

  @media ($mobile550){
    margin-bottom: 25px;
  }

  input {
    font-size: $pSize;
    width: 100%;
    color: #000;
  }

  input::-webkit-datetime-edit-text{
    color: #000;
  }

  input::-webkit-datetime-edit-month-field {
    color: #000;
  }

  input::-webkit-datetime-edit-day-field {
    color: #000;
  }

  input::-webkit-datetime-edit-year-field {
    color: #000;
  }

  input::-webkit-inner-spin-button {
    display: none;
  }

  input::-webkit-calendar-picker-indicator {
    color: #333;
  }

}