@import '../sass/vars.scss';

.dateCont {
  width: 200px;

  input {
    font-size: $pSize;
    width: 100%;
  }

  input::-webkit-datetime-edit-text {
    color: #333;
  }

  input::-webkit-datetime-edit-month-field {
    color: #333;
  }

  input::-webkit-datetime-edit-day-field {
    color: #333;
  }

  input::-webkit-datetime-edit-year-field {
    color: #333;
  }

  input::-webkit-inner-spin-button {
    display: none;
  }

  input::-webkit-calendar-picker-indicator {
    color: #333;
  }

}