*{
    box-sizing: border-box;
}

.App {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.App h1{
    margin: 0 0 3% 0;
}

@media only screen and (max-width: 600px){
    .mainContent{
        flex-direction: column-reverse;    
    }
}
