.imageCont{
    max-width: 100%;
    width: 35%;
    position: relative;
}

@media only screen and (max-width: 600px){
    .imageCont{
        width: 100%;
        margin-top: 8%;
    
    }
}

img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.copy{
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5xp;
    font-size: 0.5rem;
}

.errorCont{
    color: red;
    padding: 2px;
}

@media only screen and (max-width: 600px){
    .copy{
        font-size: 1rem;
    
    }
}